### python list data structure

In [ ]:
#python list
#combination of different type of data
#ordered colelection of data 
# mutable data structure
# hetrogenios data structuredynamic data structure
# reference type data structure

In [ ]:
#Python list operations

# 1. Creation

In [ ]:
# data strore on run time on heap memory and reference stor e on stack memory 
values=[3,6,7,8,3]

In [ ]:
#element()
#location
#position(shows index)
#length

In [1]:
data ="1 2 3".split()

In [2]:
data

['1', '2', '3']

In [3]:
type(data)

list

magic methods,built in methods,methods??

In [4]:
dir(data)#built in methods that are related to that element

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
values1= list("xyz")

In [8]:
values

['x', 'y', 'z']

In [9]:
values2=[]

In [11]:
values3=list([])

## 2 Dimension list

In [12]:
mat=[
    [1,4,6],
    [2,6,8]
]

In [ ]:
#more than 2 dimensional list is called Tensor list
tensor_matrix=[
    [
        [1,4,6],
        [2,6,8]
    ],
    [
        [1,4,6],
        [2,6,8]
    ]
]

In [30]:
#traversing operation
#access data
values=[3,6,7,8,10.6,2]
# how to access
# indexing ,slicing

In [17]:
#indexing forward(0 to N-1)
values[3]
# Reverse indexing -1 to -N
values[-1]

7

In [18]:
#slicing
values[1:] #start value:1,

[4, 5, 6, 7]

In [19]:
values[1:3] #start value=1,stop value:2

[4, 5]

In [20]:
values[::2]#step:2 means 1 difference

[3, 5, 7]

In [29]:
values[-2:]#access last 2 vlaues

[6, 7]

#### traverse 2D

In [39]:
mat=[
    [1,4,6],
    [2,5,8],
    "xyz"
]

In [35]:
mat[0][2]

6

In [37]:
mat[1][-2:]

[5, 8]

In [38]:
len(mat[1])

3

In [40]:
mat[2].upper()

'XYZ'

In [41]:
mat[2]

'xyz'

#### insertion in python list (append(),insertion(),extend())

In [42]:
values=[3,6,7,8,10.6,2]

In [44]:
values.append([3,5,6])

In [45]:
values.insert?

Signature: values.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [46]:
values.insert(0,"test")

In [47]:
values

['test', 3, 6, 7, 8, 10.6, 2, [3, 5, 6]]

In [48]:
v1=[3,6,1]

In [49]:
v2=[3,7,8]

In [50]:
v3=v1+v2

In [51]:
v3

[3, 6, 1, 3, 7, 8]

In [52]:
v1

[3, 6, 1]

In [53]:
v2

[3, 7, 8]

In [54]:
v1.extend(v2)#internally change

In [55]:
v1

[3, 6, 1, 3, 7, 8]

In [56]:
v2

[3, 7, 8]

### updation

In [57]:
v1=[3,6,7,"test",[2,6,4],True]

In [58]:
v1[1]=10 #change index value

In [59]:
v1

[3, 10, 7, 'test', [2, 6, 4], True]

In [60]:
v1[-2][-1]=40

In [61]:
v1

[3, 10, 7, 'test', [2, 6, 40], True]

In [70]:
v1[2:]=None,None

In [71]:
v1

[3, 10, None, None]

In [73]:
v1=[3,6,7,"test",[2,6,4],True]

#deletion
list.pop
del
remove

In [76]:
v1=[3,6,7,"test",[2,6,4],True]

In [77]:
v1.remove(7)#remove first occurance of value,return none ,remove by value

In [78]:
v1

[3, 6, 'test', [2, 6, 4], True]

In [79]:
v1.pop()#give index of value that u want to remove,return removed value

True

In [80]:
v1.pop()

[2, 6, 4]

In [82]:
v1.pop(2)

7

In [83]:
v1=[3,6,7,"test",[2,6,4],True]

In [85]:
del v1[-1]#remove specic range with del function

In [86]:
v1

[3, 6, 7, 'test', [2, 6, 4]]

#### python list sorting

selection sort,bublbe sort,merge ,quick ,shell , bucket,radix,counting

list.sort()#internally sort list but reutrn none
sorted()#return sorted values

In [87]:
v1=[3,6,7,"test",[2,6,4],True]

In [88]:
v1= [3,6,7,8,1,2]

In [89]:
v1.sort()#reverse=False

In [90]:
v1

[1, 2, 3, 6, 7, 8]

In [91]:
v1.sort(reverse=True)

In [92]:
v1

[8, 7, 6, 3, 2, 1]

In [96]:
users=["khalil","ahmad","bilal","rizwan","ali"]

In [94]:
users.sort()

In [95]:
users

['ahmad', 'bilal', 'khalil', 'rizwan']

In [98]:
# sort by length size
# users.sort(reverse=False,custome logic)

In [99]:
#searching python list operation

In [159]:
x=1234563427.0

In [160]:
import math
print(int(math.log10(x)+1))

10

7.100000000093132

In [180]:
x=6753

In [183]:
a=x//1000

In [184]:
a

6

In [182]:
print(f"length of {x} is {y}")

length of 6753 is 3

In [185]:
lang="python programming langugage"

In [192]:
#task:remove space from lang
new_lang=lang.replace(" ","")

In [193]:
new_lang

'pythonprogramminglangugage'

# task1. all functions of str practice

In [ ]:
# searching in python list 
#binary search ,linear search

In [ ]:
# function used 
# in 
# not in 
# list.index find position in list -->integer

In [194]:
v1=[3,5,7,1,2]

In [195]:
70 in v1 #70 is in list

False

In [196]:
70 not in v1

True

In [197]:
lang="programming"

In [198]:
"mm" in lang

True

In [205]:
v1.index(5)#search index of element of first occurance

1

In [207]:
v1=[3,5,7,1,2,7,8,8,9]

In [210]:
v1.index(7,2,4)#value,start,stop

2

In [217]:
lang.index("mmi")#find index but if not found then return error exception

6

In [218]:
lang.find("mmo")#find index and if not found then reutrn -1 can use find() for compare

-1

In [220]:
v1=[3,5,7,1,2,7,8,8,9]

In [221]:
v1.index(7,3,6)

5

#### Tuples in python

In [222]:
#tuple not support deletion
t1=(3,5,6,"True")

In [223]:
#methods
#index
#count

In [224]:
t1.index(5)

1

In [225]:
t1=(3,5,6,[2,5,1],"True")

In [226]:
t1[-2].append(30)

In [227]:
t1

(3, 5, 6, [2, 5, 1, 30], 'True')

### set

In [231]:
s1={3,6,8,3,1,6,9,3,2}#unordered unique collection

In [229]:
type(s1)

set

In [232]:
#set always return ordered unique data
s1

{1, 2, 3, 6, 8, 9}

In [ ]:
# methods studied of sets

#### python dictionary

In [233]:
info = {
    "Id":5,
    "Name":"Ahmed",
    "Programming":["julia","Rust","SQL"]
}

# dict key (immutable),values(mutable)

In [234]:
info.keys()

dict_keys(['Id', 'Name', 'Programming'])

In [235]:
info.keys()

dict_keys(['Id', 'Name', 'Programming'])

In [237]:
info

{'Id': 5, 'Name': 'Ahmed', 'Programming': ['julia', 'Rust', 'SQL']}

In [238]:
info["Name"]="Ahmed Khan" #update value of dict with key

In [239]:
info

{'Id': 5, 'Name': 'Ahmed Khan', 'Programming': ['julia', 'Rust', 'SQL']}

In [240]:
info["Data"]="Test"

In [241]:
info

{'Id': 5,
 'Name': 'Ahmed Khan',
 'Programming': ['julia', 'Rust', 'SQL'],
 'Data': 'Test'}

In [242]:
del info["Data"]

In [243]:
info

{'Id': 5, 'Name': 'Ahmed Khan', 'Programming': ['julia', 'Rust', 'SQL']}

Task1#02/27/2024
1.18 questions
2. built in data structures (explore built in methods explore) from programmiz website